.bg-empadaria-dark {
  background-color: #ff9900;
}

.bg-empadaria-light {
  background-color: #ffAD33;
}

.material-icons.md-18 {
  font-size: 18px; 
}

.material-icons.md-24 {
  font-size: 24px; 
}

.material-icons.md-36 { 
  font-size: 36px; 
}

.material-icons.md-48 { 
  font-size: 48px; 
}

.modal-dialog.sidebar {
  position: fixed;
  margin: auto;
  width: 40vw;
  height: 100%;
  right: 0px;
}
.modal-content.sidebar {
  height: 100%;
}
.modal-home {
  margin-left: 2%;
}
.img-home {
  width: 100%;
  height: 100%;
}
.btn-empadaria {
  color: #fff;
  background-color: #ff9900;
  border-color: #ff9900;
}